@import url('http://fonts.googleapis.com/css?family=Oxygen');

/* Main body styling */
body {
  background-color: #a6d8de ;	/* Pale blue */
  font-family: "oxygen";
}

/* Login screen styling */
.login_form {
  background-color: white;
  width: 570px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.login_form img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login_form p {
  text-align: center;
  color: #817f8f;		/* Logo grey */
}

.login_form .credentials {
  display: block;
}

.login_form hr {
  width: 80%;
  background-color: #d5d5d5;	/* Feint grey */
  height: 1px;
  border: 0;
}

.login_form input[type=text]  {
  font-size: 105%;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  padding: 0 10px;
  border: 1px solid;
  border-color: #d5d5d5;
  color: #817f8f;
}

.login_form input[type=password]  {
  font-size: 105%;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  padding: 0 10px;
  border: 1px solid;
  border-color: #d5d5d5;
  color: #817f8f;
}

.login_form input[type=submit] {
  font-size: 120%;
  font-weight: bold;
  border-radius: 16px;
  padding: 0 18px;
  height: 29px;
  color: white;
  background-color: #a6d8de;
  border: 1px solid;
  border-color: #d5d5d5;
}

.login_form input[type=submit]:hover  {
  background-color: #817f8f;
}

.login_form .invalid_credentials {
  color: red;
}

/* Main page container */
#container {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
}

/* Navigation Styling */
#navigation {
  height: 140px;
  background-color: white;
  padding: 5px;
}

#navigation #logo {
  float: left;
  width: 400px;
  padding-left: 30px;
}

#navigation #menu {
  float: right;
  padding-right: 30px;
  padding-top: 58px;
}

/* Filter Styling */
#filter {
  width: 200px;
  background-color:rgba(129,127,143,.3);
  height: 100%;
  margin-left: 10px;
}

#filter p {
  color: white;
  text-align: center;
}

/* Data table positioning and styling */
#data-table {
  position: absolute;
  top: 165px;
  left: 230px;
  font-size: 80%;
}

#data-table table {
  border-collapse: collapse;
}

#data-table table, th, td {
  border: 1px solid #817f8f;
}

#data-table th {
  text-transform: uppercase;
  width: 150px;
  color: white;
  background-color: #817f8f;
}

#data-table td {
  text-align: center;
}

#data-table tr:nth-child(even) {
  background: #f6f6f6;
}

#data-table tr:nth-child(odd) {
  background: #d9d9dc;
}


